:root {
  /* Modify theme color */
  --rp-c-brand: #466fe7;
  --rp-c-brand-dark: #3655b2;
  --rp-c-brand-darker: #2e4898;
  --rp-c-brand-light: #466fe7;
  --rp-c-brand-lighter: #3d62cd;
}

.rspress-home-hero-image {
  img {
    border-radius: 1em;
  }
}
